<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
.navbar-font {
    font-family: "Montserrat" , serif;
    font-weight: 600;
    position: absolute;
}
.navbar-default {
    background: none;
}
.image {
    position: relative;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.9), 
      rgba(0, 0, 0, 0.9)),
    url('./images/heroimage.png');
    background-color: #000000;
    background-size: cover !important;
    background-repeat: no-repeat;
    height: 1000px; 
}
.navbar {
  margin: 0 20px;
}
.navbar-brand {
  color: #F3d900;
}
.nav-link {
  margin-right: 1.5em;
  color: #fff;
  text-transform: uppercase;
}
.navbar-nav .nav-link {
  margin-top: 20px;
}
.nav-link:hover {
  color: #F3d999;
}
.navbar-collapse {
  justify-content: flex-end;
}
.custom-toggler .navbar-toggler {
  border-color: #F3d900;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(243,217,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    stroke: rgba(243,217,0, 0.9);
}
.nav-link .dropdown-menu {
  color: #fff;
}
.dropdown-menu .dropdown-item {
  
  text-transform: uppercase;
  font-weight: 700 !important;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #f3d900;
  color: #000;
}
.btn-yellow {
    text-transform: uppercase !important;
    background-color: #F3d900 !important; 
    color: #000 !important;
    font-family: "Montserrat" , serif;
    font-weight: 800 !important;
    border: 4px solid #f3d900 !important; 
    box-shadow: 1px 1px 10px #888888;
}
.btn-yellow:hover {
  background-color: #F3d990 !important; 
  box-shadow: 1px 1px 10px #888888;
}
.btn-yellow:focus {
  background-color: #F3d990 !important; 
  box-shadow: 1px 1px 10px #888888;
  border: none;
}
.btn-margin {
  margin-top: -5px;
}
.nav-content {
    width: 30%;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 100px;
    right: 50px;
}
.nav-content .btn-margin {
  margin-top: 20px;
  font-size: 1.5em;
  width: 55%;
}
.big-text {
  font-size: 3.9em;
  font-family: "Poppins", serif;
  font-weight: 700;
}
.letter-spaced {
  letter-spacing: -3px;
}
.bg-color {
  background-color: #e5e5e5;
  font-family: "Montserrat", serif;
}
.about {
  padding: 80px 70px;
}
.small-text {
  font-size: 14px;
  font-family: "Montserrat", serif;
}
.medium-text {
  font-size: 18px;
  font-family: "Montserrat", serif;
}
.content-head {
  color: #000;
  font-size: 3em;
  font-family: "Poppins", serif;
  font-weight: 700;
}
.line {
  border-bottom: 6px solid #F3d900;
  border-radius: 4px;
}
.content-head-spaced .line {
  width: 20%;
  margin: -7px 0 25px 37px;
  float: left;
}
.content-head-spaced {
  padding-bottom: 40px;
}
.content-body-spaced {
  width: 60%;
  line-height: 30px;
}
.centered {
  margin: 60px 0 0 110px;
}
.d-flex-top {
  margin-top: 100px;
}
.boxes {
    width: 50%;
}
.flex-fill img {
  width: 100%;
}
.img-border img {
  border-radius: 0 20px 20px 0;
}
.content-body-spaced .btn-margin {
  margin-top: 30px;
  font-size: 1.5em;
  width: 100%;
  box-shadow: 1px 1px 10px #888888;
}
.collection {
  background-color: #e5e5e5;
  padding: 0 0 50px 70px;
}
.collection .line {
  width: 9%;
  float: left;
  margin: -7px 0 0 50px;
}
.collection-nav {
  background-color: #000;
  text-decoration: none;
  color: #fff;
  height: 70px;
  padding-top: 15px;
  padding-left: 70px;
  font-family: "Montserrat", serif;
}
.nav-link .nav-line {
  width: 65px;
  margin: 5px 0 0 -15px;
}
.gallery .image-container {
  text-align: center;
  width: 100%;
}
.gallery img {
  padding: 40px 10px;
  border-radius: 20px;
}
.gallery .arrow-more {
  float: right;
  margin-top: -35px;
}
.arrow-move {
  margin: 0 0 0 10px;
}
.big-text-margin .text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 2em;
}
.big-text-margin {
  padding: 50px 35px 35px 35px;
  background: 
  linear-gradient(
    rgba(243,217,0, 0.8), 
    rgba(243,217,0, 0.7)),
  url('./images/1224\ 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
}
  .feature-title {
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #fff;
  }
  .row .contact-text, .form-control {
    padding: 30px 70px;
  }
  .features .form-control,
.features input {
    border-radius: 6px; 
}
.features .btn-yellow {
  margin-top: 20px;
  width: 80%;
}
.italiced {
  font-style: italic;
}
.colored {
  color: #F3d900;
}
.form-width {
  width: 90%;
  background-color: #212020;
  margin-right: -150px;
  margin: 30px 70px 30px 0;
  height: 90%;
}
.form-g {
  padding: 30px;
}
.contact-container {
  background-color: #040404;
  color: #fff;
  font-family: "Montserrat" , serif;
} 
.contact-text {
  width: 50%;
  line-height: 25px;
  padding-top: 40px;
}
.contact-text h3, p {
  width: 50%;
}
.contact-text h3 {
  padding-top: 40px;
}
footer {
  background-color: #212020;
  color: #fff;
  font-family: "Montserrat" , serif;
  width: 100%;
}
footer .container-fluid {
  margin-right: 25px;
  margin-left: 25px;
  padding: 10px 15px;
}
.page-footer .links {
  padding-left: 30px;
}
.page-footer .links a {
  padding-right: 10px;
  color: #fff;
}
.page-footer .end {
  float: right;
  right: 15px;
}
@media only screen and (max-width: 630px) {
  .image {
    height: 460px;
  }
  .navbar {
    margin: 0 10px;
  }
  .nav-content {
    width: 60%;
    bottom: 50px;
    right: 30px;
 }
 .nav-content .btn-yellow {
   font-size: 1em;
 }
 .dropdown-menu {
  width: 30%;
  background-color: #212020;
  color: #fff;
}
.big-text {
  font-size: 2.8em;
 } 
.about {
  padding: 40px 20px;
 }
.small-text {
  font-size: 18px;
 }
.medium-text {
  font-size: 15px;
  line-height: 30px;
 }
.content-head {
  font-size: 2.1em;
 }
 .content-head-spaced {
  padding-bottom: 15px;
}
.content-head-spaced .line {
  width: 20%;
  margin: -7px 0 25px 15px;
  float: left;
}
.content-body {
  display: block;
}
.content-body-spaced {
  width: 100%;
  line-height: 28px;
  display: block;
}
.centered {
  margin: 0;
}
.content-body-spaced .btn-margin  {
  width: 70%;
}
.boxes {
  width: 100%;
}
.about .d-flex, .flew-row ,.d-md-flex, .d-sm-flex, .flex-sm-row, .flex-md-row {
  display: block!important;
}
.d-flex-top {
    margin-top: 30px;
  }
  .content-body-spaced .btn-yellow {
    font-size: 1em;
    margin-top: 10px;
  }
  .collection {
    padding: 0 0 20px 20px;
  }
  .collection-nav {
    margin: 1;
    padding-left: 20px;
  }
  .collection-nav .nav-item .nav-link{
    margin-right: 0;
  }
  .gallery img {
    padding: 10px;
    width: 40%;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  .gallery  {
    
  }
  .arrow-more {
    float: left !important;
    padding: 20px 0 20px 0;
  }
  .contact-text {
    width: 100%;
    line-height: 33px;
    padding: 30px 20px 0 20px !important;
  }
  .contact-text p {
   width: 100%;
  }
  .contact-text h3 {
    line-break: 20px;
  }
  .row .contact-text, .form-control {
    padding: 30px ;
    width: 100%;
  }
  .form-container {
    padding: 40px 20px !important;
  }
  .form-width  {
    width: 100%;
  }
  .form-g {
    padding: 30px;
    width: 100%;
    line-height: 30px;
  }
  footer .container-fluid {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .page-footer .start {
    display: block;
  }
  .page-footer .links {
    display: block;
  }
  .page-footer .end {
    text-align: center;
    display: block;
    float: none;
  }
=======
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
.navbar-font {
    font-family: "Montserrat" , serif;
    font-weight: 600;
    position: absolute;
}
.navbar-default {
    background: none;
}
.image {
    position: relative;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.9), 
      rgba(0, 0, 0, 0.9)),
    url('images/heroimage.png');
    background-color: #000000;
    background-size: cover !important;
    background-repeat: no-repeat;
    height: 1000px; 
}
.navbar {
  margin: 0 20px;
}
.navbar-brand {
  color: #F3d900;
}
.nav-link {
  margin-right: 1.5em;
  color: #fff;
  text-transform: uppercase;
}
.navbar-nav .nav-link {
  margin-top: 20px;
}
.nav-link:hover {
  color: #F3d999;
}
.navbar-collapse {
  justify-content: flex-end;
}
.custom-toggler .navbar-toggler {
  border-color: #F3d900;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(243,217,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    stroke: rgba(243,217,0, 0.9);
}
.nav-link .dropdown-menu {
  color: #fff;
}
.dropdown-menu .dropdown-item {
  
  text-transform: uppercase;
  font-weight: 700 !important;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #f3d900;
  color: #000;
}
.btn-yellow {
    text-transform: uppercase !important;
    background-color: #F3d900 !important; 
    color: #000 !important;
    font-family: "Montserrat" , serif;
    font-weight: 800 !important;
    border: 4px solid #f3d900 !important; 
    box-shadow: 1px 1px 10px #888888;
}
.btn-yellow:hover {
  background-color: #F3d990 !important; 
  box-shadow: 1px 1px 10px #888888;
}
.btn-yellow:focus {
  background-color: #F3d990 !important; 
  box-shadow: 1px 1px 10px #888888;
  border: none;
}
.btn-margin {
  margin-top: -5px;
}
.nav-content {
    width: 30%;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 100px;
    right: 50px;
}
.nav-content .btn-margin {
  margin-top: 20px;
  font-size: 1.5em;
  width: 55%;
}
.big-text {
  font-size: 3.9em;
  font-family: "Poppins", serif;
  font-weight: 700;
}
.letter-spaced {
  letter-spacing: -3px;
}
.bg-color {
  background-color: #e5e5e5;
  font-family: "Montserrat", serif;
}
.about {
  padding: 80px 70px;
}
.small-text {
  font-size: 14px;
  font-family: "Montserrat", serif;
}
.medium-text {
  font-size: 18px;
  font-family: "Montserrat", serif;
}
.content-head {
  color: #000;
  font-size: 3em;
  font-family: "Poppins", serif;
  font-weight: 700;
}
.line {
  border-bottom: 6px solid #F3d900;
  border-radius: 4px;
}
.content-head-spaced .line {
  width: 20%;
  margin: -7px 0 25px 37px;
  float: left;
}
.content-head-spaced {
  padding-bottom: 40px;
}
.content-body-spaced {
  width: 60%;
  line-height: 30px;
}
.centered {
  margin: 60px 0 0 110px;
}
.d-flex-top {
  margin-top: 100px;
}
.boxes {
    width: 50%;
}
.flex-fill img {
  width: 100%;
}
.img-border img {
  border-radius: 0 20px 20px 0;
}
.content-body-spaced .btn-margin {
  margin-top: 30px;
  font-size: 1.5em;
  width: 100%;
  box-shadow: 1px 1px 10px #888888;
}
.collection {
  background-color: #e5e5e5;
  padding: 0 0 50px 70px;
}
.collection .line {
  width: 9%;
  float: left;
  margin: -7px 0 0 50px;
}
.collection-nav {
  background-color: #000;
  text-decoration: none;
  color: #fff;
  height: 70px;
  padding-top: 15px;
  padding-left: 70px;
  font-family: "Montserrat", serif;
}
.nav-link .nav-line {
  width: 65px;
  margin: 5px 0 0 -15px;
}
.gallery {
  text-align: center;
  width: 100%;
}
.gallery img {
  padding: 40px 10px;
  border-radius: 20px;
}
.arrow-more {
  float: right !important;
  padding-bottom: 40px;
}
.arrow-move {
  margin: 0 0 0 10px;
}
.big-text-margin .text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 2em;
}
.big-text-margin {
  padding: 50px 35px 35px 35px;
  background: 
  linear-gradient(
    rgba(243,217,0, 0.8), 
    rgba(243,217,0, 0.7)),
  url('images/1224\ 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
}
  .feature-title {
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #fff;
  }
  .row .contact-text, .form-control {
    padding: 30px 70px;
  }
  .features .form-control,
.features input {
    border-radius: 6px;
}
.features .btn-yellow {
  margin-top: 20px;
  width: 80%;
}
.italiced {
  font-style: italic;
}
.colored {
  color: #F3d900;
}
.form-width {
  width: 60%;
  background-color: #212020;
}
.form-g {
  padding: 30px;
}
.contact-container {
  background-color: #040404;
  color: #fff;
  font-family: "Montserrat" , serif;
}
.contact-text {
  width: 50%;
  line-height: 25px;
  padding-top: 40px;
}
.contact-text h3, p {
  width: 40%;
}
.contact-text p {
 line-break: 10px;
}
.contact-text h3 {
  line-break: 20px;
}
footer {
  background-color: #212020;
  color: #fff;
  text-align: center;
  font-family: "Montserrat" , serif;
  display: inline-block;
 
}
.page-footer .start {
  display: inline-block;
}
.page-footer .links {
  
}
.page-footer .links span {
}
.page-footer .end {
  float: right;
}
@media only screen and (max-width: 630px) {
  .image {
    height: 460px;
  }
  .navbar {
    margin: 0 10px;
  }
  .nav-content {
    width: 60%;
    bottom: 50px;
    right: 30px;
 }
 .nav-content .btn-yellow {
   font-size: 1em;
 }
 .dropdown-menu {
  width: 30%;
  background-color: #212020;
  color: #fff;
}
.big-text {
  font-size: 2.8em;
 } 
.about {
  padding: 40px 20px;
 }
.small-text {
  font-size: 18px;
 }
.medium-text {
  font-size: 15px;
  line-height: 30px;
 }
.content-head {
  font-size: 2.1em;
 }
 .content-head-spaced {
  padding-bottom: 15px;
}
.content-body {
  display: block;
}
.content-body-spaced {
  width: 100%;
  line-height: 28px;
  display: block;
}
.centered {
  margin: 0;
}
.boxes {
  width: 100%;
}
.about .d-flex, .flew-row ,.d-md-flex, .d-sm-flex, .flex-sm-row, .flex-md-row {
  display: block!important;
}
.d-flex-top {
    margin-top: 30px;
  }
  .content-body-spaced .btn-yellow {
    font-size: 1em;
    margin-top: 10px;
  }
  .collection {
    padding: 0 0 20px 20px;
  }
  .collection-nav {
    margin: 1;
    padding-left: 20px;
  }
  .collection-nav .nav-item .nav-link{
    margin-right: 0;
  }
  .gallery img {
    padding: 10px;
    width: 40%;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }
  .arrow-more {
    float: left !important;
    padding: 20px 0 20px 0;
  }
  .contact-text {
    width: 100%;
    line-height: 33px;
    padding: 30px 20px 0 20px !important;
  }
  .contact-text p {
   width: 100%;
  }
  .contact-text h3 {
    line-break: 20px;
  }
  .row .contact-text, .form-control {
    padding: 30px ;
    width: 100%;
  }
  .form-container {
    padding: 40px 20px !important;
  }
  .form-width  {
    width: 100%;
  }
  .form-g {
    padding: 30px;
    width: 100%;
    line-height: 30px;
  }
  .page-footer {
  }
  .page-footer .start {
    
   
  }
  .page-footer .links span {
  }
  .page-footer .end {
    text-align: center;
    float: none;
>>>>>>> 5568dd54b4afdb5090bd9073136c4141ae949604
}